.pokedex-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
  }
  
  @media screen and (max-width: 790px) {
    .pokedex-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 480px) {
    .pokedex-list {
      grid-template-columns: 1fr;
    }
  }